html {
  /* 기본 16px */
  font-size: 0.625em;
}

body {
  font-size: 1rem;
  /* 폰트패밀리 순위를 나타낸다. 맨 마지막을 제너릭 패밀리 : 글꼴군 */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}



h1 {
  /* 기본 2em */
  /* em은 16 * 2 */
  /* rem은 루트 기준으로 곱해줌 */
  /* 100%는 1em과 같은 표현 */
  font-size: 3em;
}

div{
  font-size: 4px;
}
p {
  /* font-size: 2em; */
  /* line-height는 넘버 단위로 사용한다. */
  line-height: 1.5;
}